* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.user {
    display: flex;
    align-items: center;
}

#loginBtn, #registerBtn {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.rental {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel-container {
    overflow: hidden;
    max-width: 100%;
}

.carousel {
    display: flex;
    width: 400%;
    height: auto;
     /* Removed 'infinite' */
}

.carousel img {
    width: 100%;
    min-height: 200px;
}

@keyframes carousel-scroll {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media screen and (max-width: 768px) {
    .menu {
        justify-content: center;
    }
    .menu-item {
        margin-right: 0;
    }
}

.slider {
    width: 700px;
    margin: 0 auto 20px;
    text-align: center;
}

.slider .photos {
    position: relative;
    height: 433px;
}

.slider .photos img {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slider .photos img.shown {
    opacity: 1;
}

.prev:before,
.next:before {
  color: #fff;
  font-size: 100px;
  position: absolute;
  top: 35%;
  cursor: pointer;
}

.prev:before {
  content: '<';
  left: 0;
}

.next:before {
  content: '>';
  right: 0;
}
